{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<h1>Welcome to Tour Twats</h1>
<h2>Bike Routes</h2> <a href="/bikeroutes/new">Add Route</a>
<p>Welcome to our tour site</p>
<h2>Bike Routes</h2>
<ul>
    {% for route in bikeroutes %}
        <li>{{ route.route_name }} — {{ route.route_distance }} - <a href="{{ route.route_link }}" target="_blank">View Route</a></li>
    {% empty %}
        <li>No routes added yet.</li>
    {% endfor %}
</ul>
{% endblock %}