{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<h2>Bike Routes</h2> <a href="/bikeroutes/new">Add Route</a>

<div class="section-grid">
{% for route in bikeroutes %}
<ul class="section-container" style="max-width: 340px; overflow: auto;">
  <h2 class="section-title">{{ route.route_name }}</h2>
  <h2 class="section-heading">Maybe something here idk</h2>
  <p class="section-date">Distance: {{ route.route_distance }}</p>
  <p class="section-date">Link: <a href="{{ route.route_link }}" target="_blank">View Route</a></p>

</ul>
{% empty %}
  <p>No Routes Found</p>
{% endfor %}
{% endblock %}