{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<h1>Welcome to Tour Twats</h1>
<h2>Bookings Made </h2>  <a href="/bookings/new">Add Booking</a>

    {% if user.is_authenticated %}
        <p>Welcome {{user.username}} to our amazing tour site!</p>
    {% else %}
        <p>Welcome to our amazing tour site!</p>
    {%endif%}
<h2>Booking Details</h2>
<ul>
    {% for booking in bookings %}
        <li>{{ booking.booking_name }} — £{{ booking.booking_cost }} on {{ booking.booking_date }}</li>
    {% empty %}
        <li>No bookings added yet.</li>
    {% endfor %}
</ul>
{% endblock %}