{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<h2>Bookings Made </h2>  
<a href="/bookings/new">Add Booking</a>

<div class="section-grid">
{% for booking in bookings %}
<ul class="section-container" style="max-width: 340px; overflow: auto;">
  <h2 class="section-title">{{ booking.booking_name }}</h2>
  <h2 class="section-heading">City, Country</h2>
  <p class="section-date">Date: {{ booking.booking_date }} </p>
  <p class="section-date">Cost: £{{ booking.booking_cost }} Per Night</p>

</ul>
{% empty %}
  <p>No Bookings Found</p>
{% endfor %}
</div>
{% endblock %}