{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<h2>Gallery</h2> <a href="/gallery/new">Add Photo</a>

<div class="section-grid">
    {% for photo in photos %}
    <ul class="section-container" id="imageBox1" style="max-width: 340px; overflow: auto;">
        <div class="photo-wrapper">
            <!-- image -->
            <img src="{{ photo.photo.url }}" alt="No Image Available"
                style="max-width: 100%; height: auto; cursor: pointer;" onclick="openModal(this.src)">

            {% if request.user == photo.user %}
            <form method="post" action="{% url 'delete_photo' photo.id %}" class="delete-photo-form">
                {% csrf_token %}
                <button type="submit" class="delete-photo" title="Delete photo">X</button>
            </form>
            {% endif %}
        </div>

        <h2 class="section-heading">{{photo.user.first_name}}</h2>
        <li class="section-date">{{ photo.image_description }} </li>

        <div id="myModal" class="modal" onclick="closeModal()">
            <div class="modal-content">
                <div class="modal-image-wrapper">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img src="" id="modal-image" class="modal-image" alt="No Image Available" />
                </div>
            </div>
        </div>
    </ul>
    {% empty %}
    <p>No images Found</p>
    {% endfor %}

    {% endblock %}