{% extends "base.html" %}

{% block title %}Welcome to Tour Twats{% endblock %}

{% block content %}
<!-- <h1>Welcome to Tour Twats</h1> -->
<h2>Our Tours</h2> <a href="/tours/new">Add Tour</a>
<p>Welcome to our amazing tour site</p>
{% for tour in tours %}
<ul class="section-container">
  <h2 class="section-title">{{ tour.tour_name }}</h2>
  <p class="section-date">Date: {{ tour.tour_date }}</p>

  <h2 class="section-heading">Routes</h2>
  <ul>
    {% for route in tour.tour_routes.all %}
    <li>{{ route.route_name }} — {{ route.route_distance }} - <a href="{{ route.route_link }}" target="_blank">View
        Route</a></li>
    {% empty %}
    <li>No routes added yet.</li>
    {% endfor %}
  </ul>

  <h2 class="section-heading">Bookings</h2>
  <ul>
    {% for booking in tour.tour_bookings.all %}
    <li>{{ booking.booking_name }} — £{{ booking.booking_cost }} on {{ booking.booking_date }}</li>
    {% empty %}
    <li>No bookings yet.</li>
    {% endfor %}
  </ul>
</ul>
{% empty %}
<p>No Tours Found</p>
{% endfor %}
{% endblock %}